/*:root{
    color defs
}*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, sans-serif;
    padding: 10px;
}
#fundamental-controls{
    border: solid black 1px;
    label, input, button {
        display: block;
        margin: 1rem 0;
    }
}